<!doctype html>
<html class="no-js">
<head>
    <base href="/">    
  <meta charset="utf-8">
  <title>SayGIS</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdn.rawgit.com/odra/ng-json-explorer/master/dist/angular-json-explorer.min.css">
  <link rel="stylesheet" href="https://unpkg.com/bootswatch@3.3.7/yeti/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="public/dist/ngFormBuilder-full.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
</head>
<body ng-app="formBuilder">
<!-- BROWSE HAPPY BEGINS HERE -->
<style>
  .browsehappy {
    display:block;
    width:100%;
    height:100px;
    background-color:#f2dede;
    margin: 0 0 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    line-height: 1.4;
    color: #333;
    padding-top: 15px;
    vertical-align:middle;
  }
  .browsehappy span {
    vertical-align:middle;
    margin:20px 20px 20px 20px;
    background:url("https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png") no-repeat;
    height:64px;
    width:64px;
    display:inline-block;
  }

  .formbuilder {
    height: 600px;
  }

  .formcomponents {
    width: 30%;
  }

  .formarea {
    width: 70%;
  }

  .component-settings .nav-link {
    font-size: 0.6em;
  }

  .jsonviewer {
    max-height: 600px;
    overflow: scroll;
  }

  .form-type-select {
    display: inline-block;
    width: 100px;
    height: 28px;
    vertical-align: top;
  }
</style>
<!--[if IE 6]><p class="browsehappy"><img />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<!--[if IE 7]><p class="browsehappy"><img src="https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png" />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<!--[if IE 8]><p class="browsehappy"><img src="https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png" />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<!--[if IE 9]><p class="browsehappy"><img src="https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png" />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<!-- BROWSE HAPPY ENDS HERE -->
<div class="page-content" ng-app="formioApp">
  <div class="container-fluid">
    <div>
      <div class="row">
        <div class="col-sm-12">

          <h3 class="text-center text-muted"><a href="https://github.com/formio/ngFormBuilder" target="_blank">Form Id</a> {{paramValue}} <select class="form-control form-type-select" ng-model="form.display" ng-options="display.name as display.title for display in displays"></select></h3>
          <button  ng-click="submit()" type="button" class="btn btn-primary">Enregister</button>
		            <button  ng-click="addElement('dssareac','Superficie calculée en Ha :')" type="button" class="btn btn-primary">Superficie</button>
		            <button  ng-click="addElement('dssnumberdraw','Numéro :')" type="button" class="btn btn-primary">Numéro</button>
                    <button  ng-click="addElement('douar','Douar :')" type="button" class="btn btn-primary">Douar</button>
                    <button  ng-click="addElement('eleveur','Eleveur :')" type="button" class="btn btn-primary">Eleveur</button>


          <div class="well" style="background-color: #fdfdfd;">
            <form-builder form="form"></form-builder>
          </div>      
        </div>
      </div>

    </div>
  </div>
</div>
<script src="https://cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>
<script src="https://unpkg.com/signature_pad@1.5.3/signature_pad.min.js"></script>
<script src="public/dist/ngFormBuilder-full.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="https://cdn.rawgit.com/odra/ng-json-explorer/master/dist/angular-json-explorer.min.js"></script>
<script type="text/javascript">
  angular
    .module("formBuilder", ["ui.bootstrap", "ui.select", "formio", "ngFormBuilder", "ngJsonExplorer"])
    .run([
      "$rootScope",
      'formioComponents',
      '$timeout',
      '$location',
      '$http',
      function(
        $rootScope,
        formioComponents,
        $timeout,
        $location,
        $http,
      ) {
        $rootScope.displays = [{
          name: 'form',
          title: 'Form'
        }, {
          name: 'wizard',
          title: 'Wizard'
        }];
        $rootScope.form = {
          components: [],
          display: 'form'
        };

        $rootScope.paramValue = $location.absUrl().split('=')[1];
        $rootScope.elements
        var request = $http.get('/api/forms/'+$rootScope.paramValue+'/fields').then(function(response){
          $rootScope.elements = response.data
          console.log('compenent before' + $rootScope.form.components)
          console.log('data json' + response.data.json)
          $rootScope.form.components = response.data.components
          $rootScope.form.display = response.data.display
          console.log('type' + $rootScope.form.display)
          console.log('compenent after' + $rootScope.form.components)
        },function(err){
          console.log('error unable to get form fields')
        });
        
		$rootScope.renderForm = true;
        $rootScope.$on('formUpdate', function(event, form) {
          angular.merge($rootScope.form, form);
          $rootScope.renderForm = false;
          setTimeout(function() {
            $rootScope.renderForm = true;
          }, 10);
		  console.log($rootScope.form)
        });

        $rootScope.submit = function (){
          var data = {};
          data.components = $rootScope.form.components
          data.display = $rootScope.form.display
          $http.post('/api/forms/fields/'+ $rootScope.paramValue,angular.toJson(data),{'Content-Type' : 'application/x-www-form-urlencoded; charset=UTF-8'}).then(function(){
			var page = window.self;
			page.close();
            console.log('fields enregistre')
          }),function(err){
            console.log('erreur pendant la creation des fields', err)
          }
        };
       $rootScope.addElement = function (apikey,label) {
			var component =         {
            "input": false,
            "tableView": true,
            "inputType": "number",
            "label": label,
            "key": apikey,
            "placeholder": "",
            "prefix": "",
            "suffix": "",
            "defaultValue": "0",
            "protected": false,
            "persistent": false,
            "hidden": false,
            "clearOnHide": true,
            "validate": {
                "required": true,
                "min": "",
                "max": "",
                "step": "any",
                "integer": "",
                "multiple": "",
                "custom": ""
            },
            "type": "number",
            "tags": [],
            "conditional": {
                "show": "",
                "when": null,
                "eq": ""
            },
            "properties": {
                "": ""
            },
            "lockKey": true,
			"disabled": true
        }
		var data = $rootScope.form.components
		console.log(data)
		if($rootScope.form.display == 'wizard'){
			data[0].components.push(component)
		}else{
			data.push(component)
		}

		$rootScope.form.components = data
        
      }
      }
    ]);
</script>
</body>
</html>
